<mat-toolbar class="bg-indigo-500 text-white justify-between">

    <a routerLink="home" class="font-bold">Título de la Página</a>
    <input matInput class="bg-white text-gray-700 rounded-lg px-2" placeholder="Buscar..." [(ngModel)]="searchKeyword"
        (input)="search()">

    <div class="flex items-center">
        <!-- Sesión iniciada -->
        <div *ngIf="isLoggedIn; else notLoggedIn" class="space-x-2">
            <button mat-button
                class="bg-white text-indigo-500 rounded-lg px-2 py-1.5 hover:bg-indigo-600 hover:text-white"
                (click)="onLogout()">
                <mat-icon class="text-indigo-500">exit_to_app</mat-icon>
                Cerrar sesión
            </button>
            <button mat-button
                (click)="onProfile()"
                class="bg-white text-indigo-500 rounded-lg px-2 py-1.5 hover:bg-indigo-600 hover:text-white">
                <mat-icon class="text-indigo-500">person_pin</mat-icon>
                Perfil
            </button>
        </div>

        <ng-template #notLoggedIn class="space-x-2">
            <button mat-button
                class="bg-white text-indigo-500 rounded-lg px-2 py-1.5 hover:bg-indigo-600 hover:text-white"
                (click)="onLogin()">
                <mat-icon class="text-indigo-500">login</mat-icon>
                Iniciar Sesión
            </button>
            <button mat-button
                class="bg-white text-indigo-500 rounded-lg px-2 py-1.5 hover:bg-indigo-600 hover:text-white"
                (click)="onRegister()">
                <mat-icon class="text-indigo-500">person_add</mat-icon>
                Registrarse
            </button>
        </ng-template>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity"
                matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
    </div>


    <!-- Código del carrito -->
    <mat-menu #menu="matMenu">
        <div class="p-3 divide-y divide-solid">
            <div class="pb-3 flex justify-between">
                <span class="mr-16">{{itemsQuantity}} Items</span>
                <a routerLink="cart">View Cart</a>
            </div>
            <div *ngIf="cart.items.length" class="py-3">
                <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
                    {{item.name}} x {{item.quantity}}
                    <span class="font-bold">{{ item.price| currency }}</span>
                </div>
            </div>
            <div class="flex justify-between py-3 font-light">
                Total:
                <span class="font-bold">{{ getTotal(cart.items) | currency }}</span>
            </div>
            <div class="pt-3 flex justify-between">
                <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button routerLink="cart" class="bg-green-600 text-white rounded-full w-9 h-9">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </mat-menu>

</mat-toolbar>