<h3 class="text-2xl font-semibold mb-6">Direcciones</h3>

<!-- Itera sobre las direcciones del usuario -->
<div *ngFor="let address of userAddresses" class="mb-4 bg-white p-4 rounded-md shadow-md">
  <p class="text-lg">
    {{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.zip }}
    <!-- Agrega un botón de editar que llama al método editAddress -->
    <button
    data-modal-target="crud-modal"
    data-modal-toggle="crud-modal"
    class="ml-2 bg-blue-500 text-white px-2 py-1 rounded-md"
    (click)="editAddress(address)"
  >
    Editar
  </button>    <!-- Agrega un botón de eliminar que llama al método deleteAddress -->
    <button class="ml-2 bg-red-500 text-white px-2 py-1 rounded-md" (click)="onDeleteAddress(address._id)">Eliminar</button>
  </p>

  
</div>
<!-- ... Otro contenido ... -->

<div class="p-4 sm:ml-64">
  <div class="block mb-2">
    <div *ngIf="isEditModalOpen" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
      <app-edit [editedAddress]="editingAddress" (closeModal)="closeEditModal()"></app-edit>
    </div>
  </div>
</div>

<!-- Agrega un formulario para agregar nuevas direcciones -->
<form [formGroup]="form" (ngSubmit)="onAddAddress()">
  <h3 class="text-2xl font-semibold mb-6">Agregar Nueva Dirección</h3>
  <!-- Agrega los campos del formulario -->
  <div class="mb-4">
    <label for="street" class="block text-sm font-medium text-gray-700">Calle:</label>
    <input type="text" id="street" formControlName="street" class="form-input mt-1 block w-full rounded-md">
  </div>
  <div class="mb-4">
    <label for="city" class="block text-sm font-medium text-gray-700">Ciudad:</label>
    <input type="text" id="city" formControlName="city" class="form-input mt-1 block w-full rounded-md">
  </div>
  <div class="mb-4">
    <label for="state" class="block text-sm font-medium text-gray-700">Estado:</label>
    <input type="text" id="state" formControlName="state" class="form-input mt-1 block w-full rounded-md">
  </div>
  <div class="mb-4">
    <label for="zip" class="block text-sm font-medium text-gray-700">Código Postal:</label>
    <input type="number" id="zip" formControlName="zip" class="form-input mt-1 block w-full rounded-md">
  </div>
  <!-- Agrega un botón para agregar la dirección -->
  <button class="bg-green-500 text-white px-4 py-2 rounded-md" type="submit">Agregar Dirección</button>
</form>

